:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}
h1,h2,h3{
  font-family: 'Fjalla One';
}
h1{
  font-size: 48px;
  @media (max-width: 758px) {

      font-size: 38px;

  }
  max-width: 500px;
}
h2{      font-size: 38px;
}

a{
  color:rgb(243, 125, 125);
  &:visited{
    color:rgb(255, 170, 170);

  }
}
.contenedor{
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .ancho-lectura{
    max-width: 700px;
    padding: 8px;
  }

  .ancho-viz{
    max-width: 1120px;
    padding: 8px;
  }
}


.contenedor-radios {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }
  input:checked ~ .checkmark {
    background-color: #ff5e00;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
  }
}


